  <h2>Add Meal Eaten</h2>
<%= form_for @order do |form| %>
  <h3>Pick Restaurant</h3>
  <%= form.collection_select(:restaurant_id, @restaurants.order(created_at: :desc), :id, :name) %>
  <%= link_to 'Restaurant not here?', new_restaurant_path, remote: true %>

  <h3>Pick Dish</h3>
  <%= form.collection_select(:dish_id, @dishes.order(created_at: :desc), :id, :name) %>
  <a href="#" data-reveal-id="DishForm"><p>Dish not here?</p></a>

  <%= form.label :cost %>
  <%= form.text_field :cost %>
  <br>

  <div>  
  <%= form.label :rating %>
  <%= form.radio_button :rating, '1' %>
  <%= form.radio_button :rating, '2' %>
  <%= form.radio_button :rating, '3', checked: true %>
  <%= form.radio_button :rating, '4' %>
  <%= form.radio_button :rating, '5' %>
  </div>

  <br>
<%= form.label 'Meal Photo' %>
  <%= form.hidden_field(:photo_cache) %>
  <%= form.file_field(:photo) %>
  <br>
  <%= form.submit 'Add Meal' %>
<% end %>

<div id="dish-form" style="display:none;">
  <h2>Add Dish</h2>
<%= form_for @dish do |form| %>
  <%= form.label :name %>
  <%= form.text_field :name %>
<br>
  <%= form.label 'Cuisine' %>
  <%= form.text_field :cuisine %>
<br>
  <%= form.label :description %>
  <%= form.text_field :description %>
<br>
  <%= form.submit 'Add Dish' %>
<% end %>
</div>

<div id="restaurant-form" style="display:none;">
</div>