  <h2>Had something nice?</h2>

<% if @order.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@order.errors.count, "error") %> stopped us from being able to log your meal:</h2>
 
    <ul>
    <% @order.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>


<%= form_for @order do |form| %>
  <h2 class="formTitle">Pick Restaurant</h2>
  <%= form.collection_select(:restaurant_id, @restaurants, :id, :name, include_blank: true) %>
    <div id="new_restaurant_remote_link">Restaurant not here?</div>
  <br>
  <div id="restaurant_form_container" style="display:none;">
    <h2>Add Restaurant</h2>
    <%= form.fields_for(:restaurant) do |form_restaurant| %>
        <%= form_restaurant.label :name %>
        <%= form_restaurant.text_field :name %>
      <br>
        <%= form_restaurant.label :description %>
        <%= form_restaurant.text_field :description %>
      <br>
        <%= form_restaurant.label 'Street, Area' %>
        <%= form_restaurant.text_field :address %>
      <br>
        <%= form_restaurant.label :city %>
        <%= form_restaurant.text_field :city %>
      <br>
        <%= form_restaurant.label 'Website URL' %>
        <%= form_restaurant.text_field :website %>
      <br>
        <%= form_restaurant.label 'Phone Number' %>
        <%= form_restaurant.text_field :phone %>
      <br>
        <%= form_restaurant.label 'Restaurant Photo' %>  
        <%= form_restaurant.hidden_field(:picture_cache) %>
        <%= form_restaurant.file_field(:picture) %>
    <% end %>
  </div>
  <%#= link_to 'Restaurant not here?', new_restaurant_path, remote: true, id: "new_restaurant_remote_link" %>
<!--   <div id="restaurant-form" style="display:none;">
  </div> -->

  <h2 class="formTitle">Pick Dish</h2>
  <%= form.collection_select(:dish_id, @dishes.order(created_at: :desc), :id, :name, include_blank: true) %>
  <div id="new_dish_remote_link">Dish not here?</div>
  <div id="dish_form_container" style="display:none;">
    <h2>Add Dish</h2>
    <%= form.fields_for(:dish) do |form_dish| %>
      <%= form_dish.label :name %>
      <%= form_dish.text_field :name %>
    <br>
      <%= form_dish.label 'Cuisine' %>
      <%= form_dish.text_field :cuisine %>
    <br>
      <%= form_dish.label :description %>
      <%= form_dish.text_field :description %>
    <% end %>
  </div>
<%#= link_to 'Dish not here?', new_dish_path, remote: true %>
<!--  <div id="dish-form" style="display:none;">
  </div> -->
  <br>
  <br>
  <h2 class="formTitle">How was it?</h2>
  <%= form.label 'Price: £' %>
  <%= form.text_field :cost %>
  <br>
  <br>
  <div>  
  <%= form.label :rating %>
  <%= form.radio_button :rating, '1' %>
  <%= form.radio_button :rating, '2' %>
  <%= form.radio_button :rating, '3', checked: true %>
  <%= form.radio_button :rating, '4' %>
  <%= form.radio_button :rating, '5' %>
  </div>

  <br>
<%= form.label 'Dish photo' %>
  <%= form.hidden_field(:photo_cache) %>
  <%= form.file_field(:photo) %>
  <br>
  <br>
  <%= form.submit 'Add Dining Experience' %>
<% end %>



