<h1><%= link_to(@order.dish.name, @order.dish) %> at <%= link_to(@order.restaurant.name, @order.restaurant) %> </h1>

<%= cl_image_tag(@order.photo, :width => 500, :height => 500, :crop=>:fill) %>

<p><%= @order.dish.description %></p>
<h2>Price: <%= number_to_currency(@order.cost, unit: "£") %></h2>

<h2>Rating: <%= @order.rating%>/5</h2>
<h2>Eaten: <%= @order.order_count%> times</h2>