<!--     <h2> Add Restaurant</h2>
<%= form_for(@restaurant) do |form| %>
  <%= form.label :name %>
  <%= form.text_field :name %>
<br>
  <%= form.label :description %>
  <%= form.text_field :description %>
<br>
  <%= form.label 'Street, Area' %>
  <%= form.text_field :address %>

  <%= form.label :city %>
  <%= form.text_field :city %>
<br>
  <%= form.label 'Website URL' %>
  <%= form.text_field :website %>
<br>
  <%= form.label 'Phone Number' %>
  <%= form.text_field :phone %>
<br>
<%= form.label 'Restaurant Photo' %>  
  <%= form.hidden_field(:picture_cache) %>
  <%= form.file_field(:picture) %>
<br>
<br>
 <%= form.submit %>
<% end %> -->