<h1><%= @restaurant.name %></h1>
<p><%= @restaurant.description %></p>

<h2>Average Rating: <%= average_rating(@restaurant) %>/5</h2>


<h2>Eaten here: <%= @restaurant.orders.map(&:order_count).inject(:+) %> times</h2>

<ul>
<% @restaurant.orders.each do |order| %>
  <li><%= link_to(order.dish.name, order.dish) %> on <%= link_to(order.created_at, order) %> </li>
  <% end %>
</ul>