<!DOCTYPE html>
<html lang="en">
<head>
  <title>EatDifferent</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'dataturbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= cloudinary_js_config %>
</head>
<body>
<nav>
  <ul>
    <%= nav_link 'Restaurants', restaurants_path %>
    <%= nav_link 'Dishes', dishes_path %>
    <%= nav_link 'Meals History', orders_path %>
  </ul>
</nav>
<header>
  <h1 class="siteTitle">Dinner Date</h1>
  <%= link_to (new_order_path) do %><div id="platter"></div>
  <% end %>
</header>
<main>

    <%= yield %>
</main>
  </body>
</html>