<!DOCTYPE html>
<html>
<head>
  <title>EatDifferentApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= cloudinary_js_config %>
</head>
<body>

<%= yield %>
<%= cl_image_tag("klxn5m7axnwerggfhhug.png")%> 
</body>
</html>
