<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>

    <%= stylesheet_link_tag    "application", media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <%= cloudinary_js_config %>
  </head>

  <body>
<nav>
  <ul>
    <%= nav_link 'Meals', orders_path %>
    <%= nav_link 'Restaurants', restaurants_path %>
    <%= nav_link 'Dishes', dishes_path %>
  </ul>

    <%= yield %>

  </body>
</html>