<!DOCTYPE html>
<html lang="en">
<head>
  <title>EatDifferentApp</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'dataturbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= cloudinary_js_config %>
</head>
<body>
<nav>
  <ul>
     <%= nav_link 'Restaurants', restaurants_path %>
    <%= nav_link 'Dishes', dishes_path %>
  </ul>

    <%= yield %>

  </body>
</html>